/.vscode
/mesonbuild
/.flatpak-builder
debian/.debhelper
debian/vanilla-sideload-utility
debian/vanilla-sideload-utility.substvars
debian/debhelper-build-stamp
debian/files
test.sh
obj-x86_64-linux-gnu